* {
    font-weight: bold;
}

.wallet-button {
    height:50px;
    width:25vw;
    background-color: #1677ff;
}

.token-selector-modal-row {
    display: flex;
    align-items: center; /* 垂直居中对齐 */
    gap: 10px; /* 两列之间的间距 */
    transition: background-color 0.3s ease; /* 添加过渡效果，使颜色变化更平滑 */
}

.token-selector-modal-row:hover {
    background-color: #F5F5F5; /* 设置悬停时的背景颜色，调整透明度以使其更柔和 */
    cursor: pointer; /* 鼠标悬浮时显示可点击的样式 */
}

.token-selector-modal-image-column {
    flex: 0 0 auto; /* 确保图片列大小固定 */
}

.token-selector-modal-info-column {
    flex: 1; /* 让信息列占据剩余空间 */
    display: flex;
    flex-direction: column; /* 垂直排列 span 元素 */
    justify-content: center; /* 垂直居中信息列 */
}

.token-selector-button-container {
    display: flex;         /*使用flexbox布局 */
    flex-direction: column; /* 设置为列方向，元素垂直排列 */
    gap: 5px;              /* 两个 tokenSelector 组件之间的垂直间距 */
    margin-top: -25px;     /* 向上移动 */
}

.token-selector-button-container > :first-child {
    margin-top: -10px; /* 通过负 margin 将第一个元素上移 */
}

.token-selector-div {
    position:relative; 
    left:17.5vw; 
    bottom:45px;
}

.token-selector-button {
    width: 100px;
}

.token-selector-button-token-img {
    width: 20px;
    border-radius: 10px;
}

.token-selector-modal-token-img {
    width: 30px;
    border-radius: 15px;
    position: relative;
    top: 2px;
    left: 5px;
}

.token-selector-modal-token-name-symbol {
    font-size: large;
    font-weight:500;
}
.token-selector-modal-token-metadata {
    font-size: 12.5px;
    font-weight:normal;
}

.box {
    background-color:#f5f5f5; 
    margin-bottom:5px; 
    height:120px; 
    border-radius:10px;
}

.box-span {
    margin-left:15px;
    margin-top:15px;
    display: inline-block;
}

.box-input {
    height:50px;
    width:15vw;
    margin-left:15px;
    margin-top:5px;
    font-size:40px;
    font-weight:normal;
    background-color:#f5f5f5;
    border-width:0;
    border-color:#f5f5f5;
    outline:none;
}

.box-span-lp-token-balance {
    width: 250px;
    display: inline-block;
    position: relative;
    left: 15px;
    font-size: 12.5px;
}

.display-buy-token-amount {
    color: #757575;
}

.box-address-input {
    height:50px;
    width:20vw;
    margin-left:15px;
    margin-top:5px;
    font-size:20px;
    font-weight:400;
    background-color:#f5f5f5;
    border-width:0;
    border-color:#f5f5f5;
    outline:none;
}

.feature-button-div {
    margin-bottom: 10px;
}

.feature-button {
    height:35px;
    width:60px;
    border:0px;
    border-radius:17px;
    margin-right:10px;
}

.submit-button {
    height:50px;
    width:25vw;
    margin-bottom: 5px;
    color:white;
    background-color:#1677ff;
}

.nft-img-box {
    height: 163px;
    width: 133px;
    background-color: #F5F5F5;
    border-radius: 10px;
    display: flex;              /* 使用 Flexbox 布局 */
    flex-direction: column;     /* 让子元素垂直排列 */
    align-items: center;        /* 水平居中对齐子元素 */
    justify-content: center;     /* 垂直居中对齐子元素 */
}

.nft-img {
    width: 113px;
    margin-top: 10px;
}

.nft-font {
    font-size: small;
}

.swap-button {
    background-color: #1677ff;
    width: 20px;
    position: absolute;
    top: 150px;
    left: 11.3vw;
}

.swap-button-img {
    width: 20px;
}